@use "utils/a11y";
@use "vendor/reset";

h1,
h2,
.welcome-text {
  margin: 0 2rem;
  font-family: 'Josefin Slab', serif;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #eae7dc;
  color: #231e1f;
  letter-spacing: 1px;
  overflow: hidden;
}

p {
  font-weight: 400;
}

button {
  cursor: pointer;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  z-index: 3;
  position: absolute;
  background: #A6C2EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  button {
    margin-top: 1rem;
  }
}

header {
  text-align: center;
  display: flex;
  height: 20vh;

  .burger {
    font-size: 3.5rem;
    position: relative;
    z-index: 2;
    cursor: pointer;

    button {
      height: 50px;
      width: 50px;
      position: absolute;
      top: 35px;
      left: 20px;
      padding: 0;
      border: none;
      background: none;
    }
  }

  .logo {
    margin: 0 auto;
    position: relative;
    top: 10px;

    h1 {
      font-size: 5rem;
      padding-bottom: 0;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-text {
    font-size: 1.8rem;
  }

  .get-it-done {
    font-size: 1.3rem;
    font-weight: 100;
  }

  .menu {
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 5rem;
    position: absolute;
    left: -100px;
    top: 20px;

    button {
      height: 50px;
      width: 50px;
      border-radius: 10%;
      border: none;
      background: #957554;
      margin: 0.5rem;
      box-shadow: 0 2px 3px #231e1f;
      font-size: 0.6rem;
    }

    button:hover {
      box-shadow: none;
    }

  }

  .list {
    margin-top: 4rem;
    width: 80vw;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    box-shadow: 0 2px 3px #00000066;

    .list-whole {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    input[type=checkbox] {
      height: 20px;
      width: 20px;
      margin-right: 0.5rem;
    }

    .list-left {
      display: flex;
      align-items: center;
    }

    .list-right {
      display: flex;
      align-items: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border: none;
        background: none;
      }

      button:hover {
        border: 1px solid black;
      }
    }
  }

  .todo-add {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .input {
      position: absolute;
      bottom: 5rem;
    }
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}