@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

body {
  font-family: 'Josefin Slab', serif;
  background: #ecebeb;
  color: #000;
  letter-spacing: 1px;
}

header {
  text-align: center;
  display: flex;
  height: 20vh;

  .burger {
    font-size: 3.5rem;

    button {
      height: 50px;
      width: 50px;
      position: absolute;
      top: 35px;
      left: 20px;
      padding: 0;
      border: none;
      background: none;
    }
  }


  .logo {
    margin: 0 auto;
    position: relative;
    top: 10px;

    h1 {
      font-size: 5rem;
      padding-bottom: 0;
      font-weight: 100;
      letter-spacing: 5px;
    }
  }
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-text {
    font-size: 1.8rem;
  }

  .get-it-done {
    font-size: 1.3rem;
    font-weight: 100;
  }

  .list {
    margin-top: 4rem;
    width: 80vw;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

    input[type=checkbox] {
      height: 20px;
      width: 20px;
    }

    .list-left {
      display: flex;
      align-items: center;
    }

    .list-right {
      display: flex;
      align-items: center;

      input[type=color] {
        margin-right: 0.3rem;
        height: 35px;
        width: 35px;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
      }
    }
  }

  .input {
    position: absolute;
    bottom: 5rem;
  }
}