@use "utils/a11y";
@use "vendor/reset";

$col-bg: #E0DFD5;
$col-base: #E8E9EB;
$col-dark: #313638;
$col-accent1: #E4B363;
$col-accent2: #EF6461;

h1,
h2,
.welcome-text {
  margin: 0 2rem;
  font-family: 'Josefin Slab', serif;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: $col-bg;
  color: $col-dark;
  letter-spacing: 1px;
  overflow: hidden;
}

p {
  font-weight: 400;
}

button {
  cursor: pointer;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  z-index: 6;
  position: absolute;
  background: $col-dark;
  color: $col-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 3rem;
    position: relative;
    bottom: 100px;
  }

  input {
    width: 150px;
    background: $col-bg;
    border: 1px solid $col-base;
    border-radius: 5px;
    text-align: center;
  }

  input:focus {
    outline: 0;
    border: 1px solid $col-accent1;
  }

  button {
    margin-top: 1rem;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: $col-accent1;
    box-shadow: 0 2px 15px $col-dark;
  }

  button:hover {
    border: 1px solid $col-dark;
  }
}

header {
  text-align: center;
  height: 20vh;
  background: $col-dark;
  color: $col-bg;
  box-shadow: 0 0 20px $col-dark;

  .logo {
    margin: 0 auto;
    position: relative;
    top: 10px;

    h1 {
      font-size: 5rem;
      padding: 0;
      font-weight: 100;
      letter-spacing: 5px;
      text-shadow: 1px 2px 3px black;
    }

    .welcome-text {
      font-size: 1.8rem;
      color: $col-accent1;
      position: relative;
      bottom: 20px;
      text-align: center;
      text-shadow: 1px 2px 3px black;
    }

    .get-it-done {
      font-size: 1.3rem;
      font-weight: 100;
      color: $col-dark;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;

    .selected {
      position: relative;
      bottom: 10px;
      background: $col-accent2;
    }

    button {
      height: 50px;
      width: 50px;
      border-radius: 10%;
      border: none;
      background: $col-accent1;
      margin: 0.5rem;
      padding-bottom: 1.5rem;
      box-shadow: 0 2px 3px $col-dark;
      font-size: 0.6rem;
    }

    button:hover {
      box-shadow: none;
    }

  }

  .list {
    background: $col-base;
    margin-top: 4rem;
    width: 80vw;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    box-shadow: 0 2px 2px $col-dark;
    position: relative;
    z-index: 5;

    .list-whole {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
    }

    input[type=checkbox] {
      height: 20px;
      width: 20px;
      margin-right: 0.5rem;
      border: none;
    }

    .completed {
      text-decoration: line-through;
      color: $col-accent1;
    }

    .list-left {
      display: flex;
      align-items: center;
    }

    .list-right {
      display: flex;
      align-items: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border: none;
        background: none;
      }

      button:hover {
        border: 1px solid $col-dark;
      }
    }
  }

  .todo-add {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    input {
      background: $col-base;
      border-radius: 5px;
      box-shadow: 0 1px 2px $col-dark;
      margin-right: 0.5rem;
      padding: 0.3rem;
      border: 1px solid $col-base;
    }

    input:focus {
      outline: 0;
      border: 1px solid $col-accent1;
      box-sizing: border-box;
    }

    .add-btn {
      border: none;
      border-radius: 5px;
      background: $col-accent1;
      box-shadow: 0 1px 2px $col-dark;
    }
  }
}

.hidden {
  display: none;
}