@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  background: gray;
  color: white;
  top: 6px;
  border: 2px solid white;
}

.completed {
  text-decoration: line-through;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
